html{
    scroll-behavior: smooth;
}

body{
    align-items: center;
    font-family: "Playfair Display", serif;
    background-color: var(--bg-color);
    color: var(--color-content);
}

h1{
    font-family: "Urbanist", sans-serif;
}

header{
    background-color: var(--bg-header-footer-color);
    position: sticky;
    top: 0;
}

.navbar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 48px;
}

header nav a{
    border-radius: 4px;
    padding: 12px;
    color: var(--header-footer-color-font);
}

header nav a:hover{
    background-color: var(--bg-nav-hover);
    color: var(--color-nav-hover);
}

#menu-icon{
    display: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: #fafafa;
    font-size: 20px;
}

main div.container{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

main div.person-content{
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

main section.person-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 60%;
}

img{
    border: 2px solid #000;
    border-radius: 50%;
}

main section.person-image-content{
    width: 20%;
}

img{
    width: 100%;
}

div.information-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section.information-content{
    width: 70%;
    text-align: center;
}

section.information-content p{
    margin: 32px 0;
}

section.projects{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin: 48px 0;
}

section.links{
    text-align: center;
    padding-bottom: 48px;
}

section.links h1{
    margin: 32px 0 48px 0;
}

section.links a{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    color: var(--links-color);
}

section.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 48px;
}

section.contact h1{
    margin: 32px 0 24px 0;
}

section.contact p{
    margin-bottom: 36px;
}

section button{
    width: 300px;
    margin: 8px 0;
    padding: 12px;
    border: 2px solid var(--border-button);
    border-radius: 16px;
    box-shadow: 1px 1px 1px var(--border-button);
    background-color: var(--bg-button-color);
}

section button a{
    color: var(--button-color);
    text-decoration: none;
}

section button:hover{
    cursor: pointer;
    transform: scale(1.04);
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--bg-header-footer-color);
    color: var(--header-footer-color-font);
    padding: 48px 0;
}